<div class="page " id="about">
    <div class="w-full">
      <!-- Section Title Starts -->
       <div class="mx-auto w-full relative py-80 text-center xs:px-25 xs:pt-16 xs:pb-14 xs:bg-light-grey xs:border-b xs:border-grey xs:fixed xs:left-0 xs:right-0 xs:top-0 xs:z-20">
          <h2 class="text-fs-56 font-black font-Poppins uppercase text-black-6 m-0 xs:text-fs-26 xs:text-left xs:leading-lh-1.2">
             about <span class="text-accent">me</span>
          </h2>
          <span class="text-fs-110 absolute left-0 right-0 top-1/2 tracking-10 leading-lh-0.7 font-extrabold text-light-grey-2 -translate-y-1/2 uppercase xs:hidden">resume</span>
       </div>
       <!-- Section Title Ends -->
       <div class="xl:max-w-1140 custom-md-3:max-w-[calc(100%-195px)] lg:max-w-960 md:max-w-720 sm:max-w-540 xs:max-w-full mx-auto">
          <div class="flex flex-row down-lg:flex-col">
            <!-- Personal Informations Starts -->
             <div class="xl:basis-1/2 lg:basis-5/12 down-lg:basis-full">
                <h3 class="uppercase text-fs-26 xs:text-fs-21 pb-22 font-semibold">
                   personal infos
                </h3>
                <img class="hidden xs:block rounded-full border-4 border-solid border-light-grey w-230 h-230 mb-25 mx-auto" src="assets/img/img-mobile-light.jpg" alt="">
                <div class="flex justify-between xs:justify-start font-Open-sans capitalize">
                   <div class="basis-1/2 [&>div]:pb-20 [&>div:last-child]:pb-0 text-fs-15 xs:text-fs-14">
                      <div>
                         <span class="opacity-80">
                         first name :
                         </span>
                         <span class="xs:block custom-md-2:block font-semibold">
                         Lawrence
                         </span>
                      </div>
                      <div>
                         <span class="opacity-80">
                         last name :
                         </span>
                         <span class="xs:block custom-md-2:block font-semibold">
                         Melvin
                         </span>
                      </div>
                      <div>
                         <span class="opacity-80">
                         age :
                         </span>
                         <span class="xs:block custom-md-2:block font-semibold">
                         24 years
                         </span>
                      </div>
                      <div>
                         <span class="opacity-80">
                         nationality :
                         </span>
                         <span class="xs:block custom-md-2:block font-semibold">
                         Indian
                         </span>
                      </div>
                      <div>
                         <span class="opacity-80">
                         freelance :
                         </span>
                         <span class="xs:block custom-md-2:block font-semibold">
                         available
                         </span>
                      </div>
                   </div>
                   <div class="basis-1/2 [&>div]:pb-20 [&>div:last-child]:pb-0 text-fs-15 xs:text-fs-14">
                      <div>
                         <span class="opacity-80">
                         address :
                         </span>
                         <span class="xs:block custom-md-2:block font-semibold">
                         India
                         </span>
                      </div>
                      <div>
                         <span class="opacity-80">
                         phone :
                         </span>
                         <span class="xs:block custom-md-2:block font-semibold">
                         +91-9789046500
                         </span>
                      </div>
                      <div>
                         <span class="opacity-80">
                         email :
                         </span>
                         <span class="xs:block custom-md-2:block font-semibold">
                         lawrence2000april
                         </span>
                      </div>
                      <div>
                         <span class="opacity-80">
                         skype :
                         </span>
                         <span class="xs:block custom-md-2:block font-semibold">
                         lawrence.melvin
                         </span>
                      </div>
                      <div>
                         <span class="opacity-80">
                         langages :
                         </span>
                         <span class="xs:block custom-md-2:block font-semibold">
                         English, Tamil
                         </span>
                      </div>
                   </div>
                </div>
                <a class="button group mt-30 overflow-hidden inline-block leading-lh-1.4 rounded-30 text-ellipsis text-center align-middle select-none transition-all duration-250 ease-in-out uppercase no-underline relative z-10 py-16 pr-70 pl-35 text-fs-15 font-semibold text-white bg-transparent outline-0 before:absolute before:-z-10 before:left-0 before:right-0 before:top-0 before:bottom-0 before:translate-x-full hover:before:translate-x-0 before:transition before:duration-300 before:ease-out" href="about.html">
                <span class="relative z-20 text-black-6 group-hover:text-white transition-all duration-300">download cv</span>
                <span class="absolute -right-px bottom-0 w-55 h-55 flex items-center justify-center rounded-full text-white text-fs-19 fa fa-download bg-accent"></span>
                </a>
             </div>
             <!-- Personal Informations Ends -->
             <!-- Facts Starts -->
             <div class="xl:basis-1/2 lg:basis-7/12 down-lg:basis-full down-lg:mt-50">
                <div class="flex down-lg:-mx-15 flex-wrap">
                   <div class="w-1/2 px-15">
                      <div class="pt-20 xs:pt-15 pr-30 xs:pr-20 pb-25 xs:pb-20 pl-40 xs:pl-25 border border-grey rounded-5 mb-30 xs:mb-25">
                         <h3 class="relative inline-block font-bold text-fs-50 xs:text-fs-40 text-accent leading-lh-1.2 after:content-['+'] after:absolute after:-right-24 after:text-fs-33 after:font-light after:top-2">
                            3
                         </h3>
                         <p class="relative xs:text-fs-14 uppercase pl-45 xs:pl-0 xs:before:hidden font-Open-sans font-medium before:absolute before:left-0 before:top-13 before:w-30 before:h-1 before:bg-black-5">
                            years of <span class="block">experience</span>
                         </p>
                      </div>
                   </div>
                   <div class="w-1/2 px-15">
                      <div class="pt-20 xs:pt-15 pr-30 xs:pr-20 pb-25 xs:pb-20 pl-40 xs:pl-25 border border-grey rounded-5 mb-30 xs:mb-25">
                         <h3 class="relative inline-block font-bold text-fs-50 xs:text-fs-40 text-accent leading-lh-1.2 after:content-['+'] after:absolute after:-right-24 after:text-fs-33 after:font-light after:top-2">
                            9
                         </h3>
                         <p class="relative xs:text-fs-14 uppercase pl-45 xs:pl-0 xs:before:hidden font-Open-sans font-medium before:absolute before:left-0 before:top-13 before:w-30 before:h-1 before:bg-black-5">
                            completed <span class="block">projects</span>
                         </p>
                      </div>
                   </div>
                   <div class="w-1/2 px-15">
                      <div class="pt-20 xs:pt-15 pr-30 xs:pr-20 pb-25 xs:pb-20 pl-40 xs:pl-25 border border-grey rounded-5">
                         <h3 class="relative inline-block font-bold text-fs-50 xs:text-fs-40 text-accent leading-lh-1.2 after:content-['+'] after:absolute after:-right-24 after:text-fs-33 after:font-light after:top-2">
                            8
                         </h3>
                         <p class="relative xs:text-fs-14 uppercase pl-45 xs:pl-0 xs:before:hidden font-Open-sans font-medium before:absolute before:left-0 before:top-13 before:w-30 before:h-1 before:bg-black-5">
                            happy <span class="block">customers</span>
                         </p>
                      </div>
                   </div>
                   <div class="w-1/2 px-15">
                      <div class="pt-20 xs:pt-15 pr-30 xs:pr-20 pb-25 xs:pb-20 pl-40 xs:pl-25 border border-grey rounded-5">
                         <h3 class="relative inline-block font-bold text-fs-50 xs:text-fs-40 text-accent leading-lh-1.2 after:content-['+'] after:absolute after:-right-24 after:text-fs-33 after:font-light after:top-2">
                            5
                         </h3>
                         <p class="relative xs:text-fs-14 uppercase pl-45 xs:pl-0 xs:before:hidden font-Open-sans font-medium before:absolute before:left-0 before:top-13 before:w-30 before:h-1 before:bg-black-5">
                            awards <span class="block">won</span>
                         </p>
                      </div>
                   </div>
                </div>
             </div>
             <!-- Facts Ends -->
          </div>
          <hr class="border-t border-solid border-t-grey mx-auto max-w-40prcent mt-70 mb-55">
          <h3 class="uppercase text-fs-26 xs:text-fs-21 pb-48 font-semibold text-center">
             my skills
          </h3>
          <!-- Skills Starts -->
          <div class="flex w-full flex-wrap">
             <div class="w-1/4 mb-48 down-sm:w-1/2 xs:mb-16">
                <div class="c100 p25 float-none mx-auto bg-light-grey after:!bg-white">
                   <span class="!text-black-6">25%</span>
                   <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                   </div>
                </div>
                <h6 class="uppercase font-Open-sans text-center mt-24 xs:mt-8">html</h6>
             </div>
             <div class="w-1/4 mb-48 down-sm:w-1/2 xs:mb-16">
                <div class="c100 p89 float-none mx-auto bg-light-grey after:!bg-white">
                   <span class="!text-black-6">89%</span>
                   <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                   </div>
                </div>
                <h6 class="uppercase font-Open-sans text-center mt-24 xs:mt-8">javascript</h6>
             </div>
             <div class="w-1/4 mb-48 down-sm:w-1/2 xs:mb-16">
                <div class="c100 p70 float-none mx-auto bg-light-grey after:!bg-white">
                   <span class="!text-black-6">70%</span>
                   <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                   </div>
                </div>
                <h6 class="uppercase font-Open-sans text-center mt-24 xs:mt-8">css</h6>
             </div>
             <div class="w-1/4 mb-48 down-sm:w-1/2 xs:mb-16">
                <div class="c100 p66 float-none mx-auto bg-light-grey after:!bg-white">
                   <span class="!text-black-6">66%</span>
                   <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                   </div>
                </div>
                <h6 class="uppercase font-Open-sans text-center mt-24 xs:mt-8">php</h6>
             </div>
             <div class="w-1/4 mb-48 down-sm:w-1/2 xs:mb-16">
                <div class="c100 p95 float-none mx-auto bg-light-grey after:!bg-white">
                   <span class="!text-black-6">95%</span>
                   <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                   </div>
                </div>
                <h6 class="uppercase font-Open-sans text-center mt-24 xs:mt-8">wordpress</h6>
             </div>
             <div class="w-1/4 mb-48 down-sm:w-1/2 xs:mb-16">
                <div class="c100 p50 float-none mx-auto bg-light-grey after:!bg-white">
                   <span class="!text-black-6">50%</span>
                   <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                   </div>
                </div>
                <h6 class="uppercase font-Open-sans text-center mt-24 xs:mt-8">jquery</h6>
             </div>
             <div class="w-1/4 mb-48 down-sm:w-1/2 xs:mb-16">
                <div class="c100 p65 float-none mx-auto bg-light-grey after:!bg-white">
                   <span class="!text-black-6">65%</span>
                   <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                   </div>
                </div>
                <h6 class="uppercase font-Open-sans text-center mt-24 xs:mt-8">angular</h6>
             </div>
             <div class="w-1/4 mb-48 down-sm:w-1/2 xs:mb-16">
                <div class="c100 p45 float-none mx-auto bg-light-grey after:!bg-white">
                   <span class="!text-black-6">45%</span>
                   <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                   </div>
                </div>
                <h6 class="uppercase font-Open-sans text-center mt-24 xs:mt-8">react</h6>
             </div>
          </div>
          <!-- Skills Ends -->
          <hr class="border-t border-solid border-t-grey mx-auto max-w-40prcent mt-35 mb-55">
          <h3 class="uppercase text-fs-26 xs:text-fs-21 pb-48 font-semibold text-center">
             experience & education
          </h3>
          <!-- Resume Starts -->
          <div class="flex down-sm:flex-col from-sm:mb-40">
            <!-- Experience Starts -->
             <div class="w-1/2 down-sm:w-full">
                <ul>
                   <li class="relative pr-20 pl-60 mb-50 after:absolute after:top-0 after:left-20 after:bg-grey after:w-1 after:h-full">
                      <div class="bg-accent w-40 h-40 absolute left-0 leading-lh-40 text-center z-10 rounded-full text-white">
                         <i class="fa fa-briefcase"></i>
                      </div>
                      <span class="text-black-6 text-fs-12 py-1 px-10 inline-block mb-12 rounded-20 font-semibold bg-light-grey opacity-80 font-Open-sans uppercase">
                      2018 - Present
                      </span>
                      <h5 class="uppercase text-fs-18 mt-7 mb-10">
                         web developer
                         <span class="opacity-80 font-semibold text-fs-15 relative pl-26 font-Open-sans before:absolute before:w-10 before:h-2 before:bg-black-6 before:left-7 before:top-9 before:opacity-80">
                         envato
                         </span>
                      </h5>
                      <p class="font-Open-sans text-fs-14">
                         Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit, 
                      </p>
                   </li>
                   <li class="relative pr-20 pl-60 mb-50 after:absolute after:top-0 after:left-20 after:bg-grey after:w-1 after:h-full">
                      <div class="bg-accent w-40 h-40 absolute left-0 leading-lh-40 text-center z-10 rounded-full text-white">
                         <i class="fa fa-briefcase"></i>
                      </div>
                      <span class="text-black-6 text-fs-12 py-1 px-10 inline-block mb-12 rounded-20 font-semibold bg-light-grey opacity-80 font-Open-sans uppercase">
                      2013 - 2018
                      </span>
                      <h5 class="uppercase text-fs-18 mt-7 mb-10">
                         UI/UX Designer
                         <span class="opacity-80 font-semibold text-fs-15 relative pl-26 font-Open-sans before:absolute before:w-10 before:h-2 before:bg-black-6 before:left-7 before:top-9 before:opacity-80">
                         Themeforest
                         </span>
                      </h5>
                      <p class="font-Open-sans text-fs-14">
                         Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit, 
                      </p>
                   </li>
                   <li class="relative pr-20 pl-60 mb-50 after:absolute after:top-0 after:left-20 after:bg-grey after:w-1 after:h-full">
                      <div class="bg-accent w-40 h-40 absolute left-0 leading-lh-40 text-center z-10 rounded-full text-white">
                         <i class="fa fa-briefcase"></i>
                      </div>
                      <span class="text-black-6 text-fs-12 py-1 px-10 inline-block mb-12 rounded-20 font-semibold bg-light-grey opacity-80 font-Open-sans uppercase">
                      2005 - 2013
                      </span>
                      <h5 class="uppercase text-fs-18 mt-7 mb-10">
                         consultant
                         <span class="opacity-80 font-semibold text-fs-15 relative pl-26 font-Open-sans before:absolute before:w-10 before:h-2 before:bg-black-6 before:left-7 before:top-9 before:opacity-80">
                         Videohive
                         </span>
                      </h5>
                      <p class="font-Open-sans text-fs-14">
                         Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit, 
                      </p>
                   </li>
                </ul>
             </div>
             <!-- Experience Ends -->
             <!-- Education Starts -->
             <div class="w-1/2 down-sm:w-full">
                <ul>
                   <li class="relative pr-20 pl-60 mb-50 after:absolute after:top-0 after:left-20 after:bg-grey after:w-1 after:h-full">
                      <div class="bg-accent w-40 h-40 absolute left-0 leading-lh-40 text-center z-10 rounded-full text-white">
                         <i class="fa fa-graduation-cap"></i>
                      </div>
                      <span class="text-black-6 text-fs-12 py-1 px-10 inline-block mb-12 rounded-20 font-semibold bg-light-grey opacity-80 font-Open-sans uppercase">
                      2015
                      </span>
                      <h5 class="uppercase text-fs-18 mt-7 mb-10">
                         Engineer Degree
                         <span class="opacity-80 font-semibold text-fs-15 relative pl-26 font-Open-sans before:absolute before:w-10 before:h-2 before:bg-black-6 before:left-7 before:top-9 before:opacity-80">
                         Oxford University
                         </span>
                      </h5>
                      <p class="font-Open-sans text-fs-14">
                         Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit, 
                      </p>
                   </li>
                   <li class="relative pr-20 pl-60 mb-50 after:absolute after:top-0 after:left-20 after:bg-grey after:w-1 after:h-full">
                      <div class="bg-accent w-40 h-40 absolute left-0 leading-lh-40 text-center z-10 rounded-full text-white">
                         <i class="fa fa-graduation-cap"></i>
                      </div>
                      <span class="text-black-6 text-fs-12 py-1 px-10 inline-block mb-12 rounded-20 font-semibold bg-light-grey opacity-80 font-Open-sans uppercase">
                      2012
                      </span>
                      <h5 class="uppercase text-fs-18 mt-7 mb-10">
                         Master Degree
                         <span class="opacity-80 font-semibold text-fs-15 relative pl-26 font-Open-sans before:absolute before:w-10 before:h-2 before:bg-black-6 before:left-7 before:top-9 before:opacity-80">
                         Kiev University
                         </span>
                      </h5>
                      <p class="font-Open-sans text-fs-14">
                         Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit, 
                      </p>
                   </li>
                   <li class="relative pr-20 pl-60 mb-50 after:absolute after:top-0 after:left-20 after:bg-grey after:w-1 after:h-full">
                      <div class="bg-accent w-40 h-40 absolute left-0 leading-lh-40 text-center z-10 rounded-full text-white">
                         <i class="fa fa-graduation-cap"></i>
                      </div>
                      <span class="text-black-6 text-fs-12 py-1 px-10 inline-block mb-12 rounded-20 font-semibold bg-light-grey opacity-80 font-Open-sans uppercase">
                      2009
                      </span>
                      <h5 class="uppercase text-fs-18 mt-7 mb-10">
                         Bachelor Degree
                         <span class="opacity-80 font-semibold text-fs-15 relative pl-26 font-Open-sans before:absolute before:w-10 before:h-2 before:bg-black-6 before:left-7 before:top-9 before:opacity-80">
                         LICET
                         </span>
                      </h5>
                      <p class="font-Open-sans text-fs-14">
                         Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit, 
                      </p>
                   </li>
                </ul>
             </div>
             <!-- Education Ends -->
          </div>
          <!-- Resume Ends -->
       </div>
    </div>
 </div>
